.cards-content-block {
    display: flex;
    justify-content: space-between;
  }


  /* Float three columns side by side */
  .cards {
    padding: 18px;
    display: inline-block;
    width: 33.33%;
  }

  .sciex-cards-card-image {
    display: inline-block;
    overflow: hidden;
  }
  
  .sciex-cards-card-image img {
    display: block;
    transition: transform 0.5s; 
    transform-origin: center;
  }
  
  .sciex-cards-card-image img:hover {
    transform: scale(1.05);
  }

  .sciex-cards-card-image::after {
    content: "";
    display: table;
    clear: both;
  }

  .sciex-cards-card-body {
    display: flex;
    flex-direction: column;

    /* flex: 1; */
    align-items: flex-start;

    /* align-self: flex-start;  */
  }

  .sciex-cards-card-title {
    font-size: 18px;
    letter-spacing: .048px;
    line-height: 26px;
    color: #141414;
    margin-bottom: 8px;
  }

  .sciex-cards-card-description {
    height: 100px;
    font-size: 1rem;
    color: #6b7280;
    flex-grow: 1;
    margin-bottom: 0;
    word-break: break-word;
  }

  .sciex-cards-card-ctalink .cta {
    position: relative; /* Position relative for the pseudo-element */
    color: #3b63fb;
    font-size: 16px;
    padding-bottom: 3px;
  }

.sciex-cards-card-ctalink .cta::after {
    content: ""; /* Required for pseudo-element */
    position: absolute; /* Position it absolutely */
    width: 100%; /* Full width of the anchor */
    height: 1px; /* Height of the underline */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Align to the left */
    background-color: #3b63fb; /* Color of the underline */
    transform: scaleX(1); /* Start with full width underline */
    transform-origin: bottom right; /* Origin for scaling */
    transition: transform 0.5s ease; /* Transition effect */
}

.sciex-cards-card-ctalink .cta:hover::after {
    transform: scaleX(0); /* Scale to 0 width on hover to remove underline */
    transform-origin: bottom right; /* Change origin for reverse animation */
}

.sciex-cards-card-ctalink .cta:hover {
    text-decoration: none; /* Remove default underline on hover */
}
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .cards-content-block {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .cards {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .sciex-cards-card-description {
      height: auto;
    }
  }